body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #d32f2f;
}

.image {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

.buttons {
    margin-top: 30px;
}

button {
    background-color: #d32f2f;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #c2185b;
}

#message {
    margin-top: 20px;
    font-size: 24px;
    color: #c2185b;
    font-weight: bold;
    display: none;
}

.hidden {
    display: none;
}

.buttons button:focus {
    outline: none;
}
